.receitas {
    background: #e5e5e5;
    /* display flex deixa os itens um ao lado do outro */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* smartphone */
@media screen and (min-width: 0) {
    .receitas {
    padding: 5rem 0 0 1rem;
    }
}

/* table */
@media screen and (min-width: 768px) {
    .receitas {
        padding: 5rem 0 0 2.5rem;
    }
}

/* desktop */
@media screen and (min-width: 992px) {
    .receitas {
     padding: 5rem 0 0 5rem; 
    }
}